* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all ease-in-out 0.2s;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  /* font-family: "Josefin Sans", sans-serif; */
  /* cursor: none; */
  overflow-x:hidden;
}
a {
  text-decoration: none;
}


.article{
  min-height: 40vh;
  max-width:25vw;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color:#1d3557 ;
}
.article:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* transform: scale(1.01); */
}
.articles-container{
  margin-top: 3vh;
  width: 100%;
  min-height: 90vh;
  /* background-color: blueviolet; */
}
.article-img-container{
  width: 100%;
  min-height: 30vh;
  max-height: 30vh;
  /* background-color: yellow; */
  overflow: hidden;
}
.article-text-container{
  width: 100%;
  min-height:10vh;
  max-height: 10vh;
  text-align: center;
  padding: 1em;
  font-weight: 800;
}
.article-img-container img{
  width: 100%;
  max-height: 30vh;
}
/* img:hover{
  transform: scale(1.2);
} */